
@import '../App.css';
canvas{
  pointer-events: none;
}

.container {
  position: absolute;
  left: calc(50% - 30rem) ;
  top: 2vh;
  perspective: 1700px;
  transition: all 0.5s ease;
  padding: 3vh 200px ;

  .card {
    width: 60rem;
    height: 90vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    border-radius: 30px;
    padding: 0 4rem;
    background-color: #fff;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease; 
  }
}

h2 {
  font-weight: 600;
  font-size: 2rem;
  padding: 2rem 0rem;
  color: #404040;
  font-weight: lighter;
  transition: all 0.75s ease-out;
}

p{
  font-size: 16px;
  display:inline-block;
}

h3{
  font-size: 20px;
  padding-right: 10px;
}

span{
  font-weight: bold;
}