.Nav_depth1{
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  color: black;
  text-decoration: none;
}

.Nav_depth1 li {
  list-style-type: none;
  font-size: 2rem;
  font-weight: bold;
}

.Nav_depth2{
  position: absolute;
  left: 40px;
}

.Nav_depth2 li {
  font-size: 1.8rem;
}