.Nav_depth1{
  position: absolute;
  width: 300px;
  z-index: 9999;
  top: 10vh;
  left: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  li{
    list-style-type: none;
    font-size: 2rem;
    font-weight: bold;

    a {
      color: #333;
      text-decoration: none;
      
      &.active {
        font-weight: bold;
        color: #eee;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      }
    }



    .Nav_depth2{
      padding-left: 40px;
      width: 400px;

      li {
        font-size: 1.8rem;
      }
    }
  }
}