
.Nav{
  position: fixed;
  z-index: 999;
  left: 0;
  width: 21vw;
  height: 100vh;

  background: #fff;
  
  .Nav_depth1{
    position: absolute;
    width: 300px;
    z-index: 9999;
    top: 11vh;
    left: 30px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

  
    li{
      list-style-type: none;
      font-size: 1.625rem;
      font-weight: bold;
      line-height: 1.6;
      letter-spacing: 0.1px;
      

      a {
        color: #333;
        text-decoration: none;
        transition: all 0.75s ease-out;

        &.active {
          position: relative;
          font-size: 2.25rem;
          line-height: 1.35;
          font-weight: bold;
          color: #fe671f;
        }
      }



      .Nav_depth2{
        padding-top: 10px;
        padding-left: 40px;
        width: 400px;

        li {
          font-size: 1.3125rem;

          a{
            color: #666;
            line-height: 1.5;
            &.active {
              
              position: relative;
              font-size: 1.6rem;
              line-height: 1.35;
              font-weight: bold;
              color: #333
            }
          }
        }
      }
    }
  }
  
  .Nav_li_home{
    margin-bottom: 70px;

    &:after{
      content:'';
      position: absolute;
      width: 22px;
      height: 1.3px;
      background-color: #000;
      top: 90px;
      left: 0;

    }

  }

  .Nav_li_contact{
    margin-top: 70px;

    &:after{
      content:'';
      position: absolute;
      width: 22px;
      height: 1.3px;
      background-color: #000;
      bottom: 90px;
      left: 0;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
  .Nav{
    top: 0;
    width: 100vw;
    height: 40px;
    
      .Nav_depth1{
        position: absolute;
        justify-content: flex-start;
        left: 4px;
        top: 0px;
        flex-direction: row;
        width: 100%;
        
        li{
          font-size: 18px;
          
          margin-top: 4px;
          margin-right: 20px;
          a{
            &.active{
              font-size: 24px;
            }
          }

          .Nav_depth2{
            position: absolute;
            width: 760px;
            top: 0;
            left: 440px;
            padding: 0;
            display:flex;
            flex-direction: row;
            li{
              margin-top: 8px;
              font-size: 12px;
              a{
                &.active{
                  font-size: 18px;
                }
              }
            }
          }
        }
      }
    .Nav_li_home{
      &:after{
        display:none;
      }
    }
    
    .Nav_li_contact{
      &:after{
        display:none;
      }
    }
  }


}



