@import url(../App.css);

.profile_picture {
  
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile_profilePic{
  width: 15rem;
  border-radius: 50%;
  border: 2px solid #000;
  z-index: 2;
  transition: all 0.2s ease-out;
}

.profile_contents{
  perspective : 1000px;
  transition: all 0.2s ease
}

.profile_contents h1 {
  font-size: 3rem;
  transition: all 0.75s ease-out;
}
.profile_contents h3 {
  font-weight: 600;
  font-size: 2rem;
  padding: 2rem 0rem;
  color: #404040;
  font-weight: lighter;
  transition: all 0.75s ease-out;
}

.profile_contents p{
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 1.2;
  color: #2a2a2a;
  transition: all 0.75s ease-out;
}
