@import url(../App.css);

.profilePicture {
  
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .profile_profilePic{
    width: 28rem;
    border-radius: 50%;
    border: 2px solid #000;
    z-index: 2;
    transition: all 0.75s ease-out;
  }
}
  .profile_contents{
    transition: all 0.75s ease-out;
    line-height: 1.3rem;

  
    h1 {
      margin-top: 70px;
      font-size: 3.5rem;
      transition: all 0.75s ease-out;
      
    }

    h2{
      font-size: 1.7rem;
      color: #7e7e7e;
      text-align: left;
    }


    p{
      
      line-height: 1.3rem;
      font-weight: 500;
      font-size: 1.5rem;
      color: #2a2a2a;
      transition: all 0.75s ease-out;
      margin-bottom: 15px;
      
    }
  }


