@import url(../App.css);


.works{
  transition: all 0.75s ease-out;
  
  h2{
    padding: 10px 0 5px;
    font-weight: bold;
  }

  div{
    position: relative;
    border-radius: 8px;
    transition: all 0.75s ease-out;
    z-index: 1;

    &.on{
      position: relative;
      background: #eee;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
      z-index: 2;
    }

    div{
      
      width: 400px;
      transition: all 0.75s ease-out;

      img{
        width: 120px;
        height: 60px;
        margin: 0 8px;
      }
    }
  }

}