.li_contents{
  width: 50rem;
  height: 100px;
  display:flex;
  align-items: center;
  justify-content:space-between;


  .logo{
    
    display:flex;
    align-items: center;
    justify-content: start;
    
    img{
      pointer-events: none;
    }
  }
  .text{
    line-height: 1.2;
    display:flex;
    flex-direction: column;
    width: 50%;
    height: 80%;
    text-align: right;

    p{
      font-size: 20px;
    }


    .date{
      margin-top: 0.5rem;
      font-size: 1rem;
      color: #525252;}
  }
}


