@import url(../App.css);


.works{
  transition: all 0.75s ease-out;
  padding-top: 2rem;

  h2{
    position: relative;
    font-size: 2.625rem;
    font-weight: bold;
    text-align: right;

    &:after{
      content:'';
      position: absolute;
      width: 30px;
      height: 1px;
      background-color: #000;
      right: 0;
      top: 120px;
      
    }
  }

  div{
    position: relative;
    border-radius: 8px;
    transition: all 0.75s ease-out;
    z-index: 1;

    &.on{
      position: relative;
      background: #eee;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
      z-index: 2;
    }

    div{
      
      transition: all 0.75s ease-out;

      img{
        width: 60%;
        height: 90px;
        margin: 0 8px;
      }
    }
  }

}