.li_contents{
  height: 90px;
  display:flex;
  align-items: center;
  justify-content:space-between;



  .logo{
    width: 40%;
    display:flex;
    align-items: center;
    justify-content: center;

  }
  .text{
    padding: 0 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 80%;
    text-align: right;
  }
}


