@import url(../App.css);


.contents{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:3rem 0;
  transition: all 0.75s ease-out;
  
  .titlebox{
    width: 100%;
    display:flex;
    flex-direction: column;
    margin-bottom: 3.5rem;

    img{
      width: 50%;
      transition: all 0.75s ease-out;
    }

    h2{
      position: relative;
      text-align: right;
      font-weight: bold;
      font-size: 2.625em;
      padding: 10px 0;
      display:inline-block;
      

      &:after{
        content:'';
        position: absolute;
        width: 30px;
        height: 1px;
        background: #000;
        top: 138px;
        right: 0;      
      }
    }

    .descsummary{
      font-size: 1.5rem;
      color: #636363;
      text-align: right;
      font-size: 17px;
      font-weight: bold;
      transition: all 0.75s ease-out;
    }
  }

  .samplebox{
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: calc(32rem / 16 * 9 );
    margin-bottom: 1rem;
    transition: all 0.75s ease-out;

    .sample_pc{
      z-index: 1;
      position: absolute;
      border:1px solid #333;
      padding: 1px;
      border-radius: 8px;
      height: 100%;
      transition: all 0.75s ease-out;

      video{padding: 4px;}
    }

    .sample_tablet{
      z-index: 2;
      position: absolute;
      border:1px solid #333;
      border-radius: 8px;
      right: 10%;
      bottom: -8%;
      height : calc(40% / 9 * 16);
      transition: all 0.75s ease-out;

      video{padding: 4px;}
    }

    .sample_mobile{
      z-index: 3;
      right: 5%;
      bottom: -10%;
      position: absolute;
      border:1px solid #333;
      border-radius: 8px;
      height: calc(20% / 9 * 20);
      transition: all 0.75s ease-out;

      video{padding: 4px;}
    }
  }
  
  .descbox{
    width: 100%;
    display:flex;
    justify-content: space-between;
    

    .date_skills_link{
      display:flex;
      flex-direction: column;

      div{
        margin-bottom: 20px;
        transition: all 0.75s ease-out;
      }

      h3{
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 2px;
      }
    
      .linkbox{
        a{
          margin-right: 1rem;
          text-decoration: underline;
        }
        p{
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }

  .contentsbox{
    transition: all 0.75s ease-out;

    h3{
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 2px;
    }
    
    ul{
      margin-bottom: 4rem;
    }
  }

  .mouseiconbox{
    transition: all 0.75s ease-out;
  }
}


