body{
  overflow: hidden;
}
.fade-enter {
  opacity: 0;
  transform: translateY(100%);
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in ;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.5s ease-in , transform 0.5s ease-in ;
}

.fade-reverse-enter {
  opacity: 0;
  transform: translateY(-100%);
}

.fade-reverse-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease-in , transform 0.5s ease-in ;
}

.fade-reverse-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-reverse-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.5s ease-in , transform 0.5s ease-in ;
}
